.buttons_row{
    color: rgba(0, 0, 255, 0.466);
}
.post_buttons_row{
    display: flex;
    flex-direction:row;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: 60vh;
    height: auto;
    background-color: rgba(0, 0, 255, 0.466);
    margin: 0 auto 5vh auto;
}