.Button{
    height: 5vh;
    width: 25vw;
    margin-top: 1.5vh;
    background-color: aqua;
    border-style: dashed;
    border-color:black;
    border-width: 0.3vh;
    border-radius: 5;
    color:black;
    font-family: 'Press Start 2P';
    text-align: center;
    margin-bottom: 1.5vh;



}
.Button:disabled{
    background-color: darkslategrey;

}
.Button:active{
    color: aliceblue;

}
.Button:hover{
    cursor: pointer;
    background-color:#88C1F6;
    transform: translateY(-2px);

    border-color: black;
    
}