
/* .input_area{
  position: relative;
  width: 40vw;
  height: 2vh;
  min-height: 2vw;
  margin-top: var(--margin_topAnd_buttom);
  margin-bottom: var(--margin_topAnd_buttom);

  color-scheme: light dark;
  border-radius: 1vh;
  border-width: 0.25vh;


  transition: all 0.3s ease;
  outline: none;
  font-family: 'Press Start 2P';
  box-shadow: inset 0 0 8px rgba(0, 255, 170, 0.8);

  --margin_topAnd_buttom: 1.5vh;
  padding-left: 1vw; 
  z-index: 1;
} */

.input_area {
  width: clamp(240px, 80vw, 420px);
  max-width: 100%;
  min-width: 40vw;

  padding: 0.7em 0.8em;
  margin: 1.2vh 0;

  font-family: 'Press Start 2P';
  font-size: clamp(10px, 3.5vw, 16px);
  /* line-height: 1.4; */

  color-scheme: light dark;
  border-radius: 0.6em;
  border-width: 0.15em;

  box-shadow: inset 0 0 0.5em rgba(0, 255, 170, 0.6);
  outline: none;
  transition: box-shadow 0.3s ease;

  box-sizing: border-box;
}
.input_area:focus{
  box-shadow: 0 0 0.4rem rgba(0, 255, 170, 0.6);
}
.input_area_incorrect{
  /* width: 40vw;
  height: 2vh;
  min-height: 2vw;
  margin-top: var(--margin_topAnd_buttom);
  margin-bottom: var(--margin_topAnd_buttom);
  color-scheme: light dark;
  border-radius: 1vh;
  border-width: 0.25vh;
  border-color: rgb(255, 0, 0);
  background-color: darkred;
  transition: all 0.3s ease;
  outline: none;
  font-family: 'Press Start 2P';
  box-shadow: inset 0 0 8px rgba(0, 255, 170, 0.8);
  --margin_topAnd_buttom: 1.5vh;
  padding-left: 1vw;  */

  width: clamp(240px, 80vw, 420px);
  min-width: 40vw;


  padding: 0.7em 0.8em;
  margin: 1.2vh 0;

  font-family: 'Press Start 2P';
  font-size: clamp(12px, 3.5vw, 16px);
  line-height: 1.4;

  border-radius: 0.6em;
  border: 0.15em solid rgb(255, 0, 0);
  background-color: rgba(139, 0, 0, 0.85);

  box-shadow: inset 0 0 0.5em rgba(255, 0, 0, 0.6);
  box-sizing: border-box;

}

/* маленькая визуальная тонкость — фокус */

.input_text{
  font-size: clamp(12px, 3.5vw, 16px);
  line-height: 1.4;

  font-family: 'Press Start 2P';
  font-style: normal;

  /* identical to box height */
  text-align:left;

  color: #000000;
}
.error_message{

  font-family: 'Press Start 2P';
  font-style: normal;
  font-size: clamp(12px, 3vw, 16px);


  color: #970000;
}

.form_row{
    display: flex;
    flex-direction: column;

    gap: 1.5rem;
    /* box-sizing: border-box; */
    width:100%;
}/* метка (текст слева) */
