
.input_area{
  position: relative;
    width: 40vw;
    height: 2vh;
    min-height: 2vw;
    margin-top: var(--margin_topAnd_buttom);
    margin-bottom: var(--margin_topAnd_buttom);

    color-scheme: light dark;
    border-radius: 1vh;
    border-width: 0.25vh;


    transition: all 0.3s ease;
    outline: none;
    font-family: 'Press Start 2P';
    box-shadow: inset 0 0 8px rgba(0, 255, 170, 0.8);

    --margin_topAnd_buttom: 1.5vh;
    padding-left: 1vw; 
    z-index: 1;
}
.input_area_incorrect{
    width: 40vw;
    height: 2vh;
    min-height: 2vw;
    margin-top: var(--margin_topAnd_buttom);
    margin-bottom: var(--margin_topAnd_buttom);
    color-scheme: light dark;
    border-radius: 1vh;
    border-width: 0.25vh;
    border-color: rgb(255, 0, 0);
    background-color: darkred;
    transition: all 0.3s ease;
    outline: none;
    font-family: 'Press Start 2P';
    box-shadow: inset 0 0 8px rgba(0, 255, 170, 0.8);
    --margin_topAnd_buttom: 1.5vh;
    padding-left: 1vw; 

}

/* маленькая визуальная тонкость — фокус */
.input_area:focus{
  box-shadow: 0 0 0.4rem rgba(255, 0, 0, 0.253);
}
.input_text{
  width: 50vw;
  top: 0.5vh;
  /* margin-right: 50vw; */

  font-family: 'Press Start 2P';
  font-style: normal;
  font-size: 20px;

  /* identical to box height */
  text-align:center;

  color: #000000;
}
.error_message{

  font-family: 'Press Start 2P';
  font-style: normal;
  font-size: calc(100vh+100px);


  color: #970000;
}

.form_row{
    display: flex;
    flex-direction: column;

    gap: 1.5rem;
    /* box-sizing: border-box; */
    width:100%;
}/* метка (текст слева) */
