.post_form_box {
    
    position: fixed;
    width:95vw;
    left:2.5vw;
    top: 5vh;
    min-height: 92.5vh;
    overflow-y: auto;

    padding: 2.5vh 3vw 3vh 3vw; 

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 20px;
    gap: 8px;

    background: rgba(240, 248, 255, 0.95);
    border-radius: 50px;
    backdrop-filter: blur(0.5vh);
    z-index: 1001;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

    text-align: center;
}
.post_lable_text{
    width: 100%;
    max-width: 60ch;
    margin: 2.5vh auto 0;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-size: 32px;
    text-align: center;
    color: #000000;
    box-sizing: border-box;
    overflow-wrap: anywhere;

}
.post_text{
    /* position: relative;
    right: 37.5vw; */
    width: 100%;
    max-width: 60ch;
    margin: 2.5vh auto 0;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-size: 24px;
    text-align: center;
    color: #000000;
    box-sizing: border-box;

}

.title_area{
    
    width: 90%;
    height: auto;
    margin: 2.5vh auto 0;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-size: 18px;
    text-align: left;
    padding: 2.5vh 2.5vw 0 2.5vw;
    color: #ffffff;
    box-sizing: border-box;
    background: #00000085;
    border-radius: 1.5vw;
    overflow-wrap: anywhere;


}
.post_area{
    
    width: 90%;
    height: auto;
    height: 45vh;
    margin: 2.5vh auto 0;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-size: 18px;
    text-align: left;
    padding: 2.5vh 2.5vw 0 2.5vw;
    color: #ffffff;
    box-sizing: border-box;
    background: #00000085;
    border-radius: 1.5vw;
    /* overflow-wrap: anywhere; */

}