.post_button{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((7.5vh + 7.5vw) / 2);
    height: calc((7.5vh + 7.5vw) / 2);
    right: calc((5vh + 5vw) / 2);
    bottom: 2.5vh;
    border-radius: calc((5vh + 5vw) / 2);
    z-index: 1002;
}
.post_image_button{
    width: calc((7.5vh + 7.5vw) / 2);
    height: calc((7.5vh + 7.5vw) / 2);
    border-radius: calc((5vh + 5vw) / 2);
    z-index: 1003;
    cursor: pointer;
}
.post_button:focus,
.post_button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.delete_post_button{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((7.5vh + 7.5vw) / 2);
    height: calc((7.5vh + 7.5vw) / 2);
    right: calc((15vh + 15vw) / 2);
    bottom: 2.5vh;
    border-radius: calc((5vh + 5vw) / 2);
    border-color: rgba(0, 0, 0, 0);
    z-index: 1002;
}
.delete_post_image_button{
    width: calc((7.5vh + 7.5vw) / 2);
    height: calc((7.5vh + 7.5vw) / 2);
    border-radius: calc((5vh + 5vw) / 2);
    border-color: rgba(0, 0, 0, 0);
    z-index: 1003;
    cursor: pointer;
}
.delete_post_button:focus,
.delete_post_button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}